[user]
	name = Jack
	email = frankland.jack@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 20
[include]
        path = ~/.gitconfig.aliases
[push]
	default = simple
