# Bind leader key to ctrl+space as in my vimrc it is space.
unbind-key C-b
set -g prefix C-Space
bind-key Space send-prefix

# Use vim key-binding.
set-window-option -g mode-keys vi

# Vim-like key bindings for pane navigation (default uses cursor keys).
unbind h
bind h select-pane -L
unbind j
bind j select-pane -D
unbind k
bind k select-pane -U
unbind l # normally used for last-window
bind l select-pane -R

# Vim-like key bindings for yanking and pasting.
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'y' send -X copy-selection-and-cancel

# Highlight active window.
set -w -g window-status-current-bg red
