! urxvt terminal settings.

! Specifies terminal type name to be set in $TERM enviroment variable - tmux seems to need this.
URxvt*termName: xterm-256color

! Make background black.
URxvt*background: Black
! Make standard text white
URxvt*foreground: White

! Set color of curosr
URxvt*cursorColor: #FF00FF

! Remove the scroll bar.
URxvt*scrollBar: flase

! Set the fonts.
URxvt*font: xft:Hermit:medium:size=12:antialiasing=true
URxvt*boldFont: xft:Hermit:bold:size=12:antialiasing=true:style=medium
URxvt*italicFont: xft:Hermit:medium:size=12:antialiasing=true:style=medium
URxvt*boldItalicFont: xft:Hermit:bold:size=12:antialiasing=true:style=medium
! This sets the spacing between unicode characters and is required to 
! render unicode characters.
URxvt*letterSpace: 2

! Set blinking cursor.
URxvt*cursorBlink: true

! Enable clickable links.
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
